/* You can add global styles to this file, and also import other style files */

.my-color {
  color: #2c277c;
}

.btn-primary {
  background-color: #2c277c !important;
  border-color: #2c277c !important;
  color: white;
}

.my-bg {
  background-color: #2c277c !important;
}

.link-primary {
  color: #2c277c !important;
}
